<!DOCTYPE html>
<html>
    <head>
        <title>Secure Signup: Caledonia Ramblers Membership</title>
		<link rel="stylesheet" href="{{ gvm.RR_DOC_ROOT }}/styles/main.css" />
    </head>
    <body>
    
    	<div class="container_center">
    	
		<div class="container">
			<section id="content">
	            <table>
	              <tr>
                    <td>
                    	<h1>Caledonia Ramblers Hiking Club Membership</h1>
                    	<br>
                    	<h1>{{ gvm.site.PDFSettings.FORMS_DATE_RANGE }}</h1>
                    	<a href="https://youtu.be/9h9KxNLpCGI">Video Instruction</a>
                   	</td>
	            	<td style="text-align:right">
	            	{% include 'display-logo.twig.html' %}
	            	</td>
	              </tr>
	              <tr>
	                <td>
	                <h2>Electronic Forms:</h2>
	                </td>
	              </tr>
	              <tr>
	                <td>
	                    <a href="{{ gvm.RR_DOC_ROOT }}/membership-route">Membership Form</a>
	                </td>
	              </tr>
	              <tr>
	                <td>
	                    <a href="{{ gvm.RR_DOC_ROOT }}/waiver-route">Waiver Form</a>
	                </td>
	              </tr>
	              <tr>
	                <td>
	                <h2>Printable Forms:</h2>
	                </td>
	              </tr>
	              <tr>
	                <td>
	                    <a href="{{ gvm.RR_DOC_ROOT }}/{{ gvm.site.PDFSettings.MEMBERSHIP_FILE }}">Membership Form</a>
	                </td>
	              </tr>
	              <tr>
	                <td>
	                    This form MUST be printed in colour, black and white will not be accepted:  
	                    <a href="{{ gvm.RR_DOC_ROOT }}/{{ gvm.site.PDFSettings.WAIVER_FILE }}">Waiver Form</a>
	                </td>
	              </tr>
	              
                </table>
			</section>
			</div>

        </div>
    </body>
    
</html>
